---
import IconSelectDropdown from '@components/icons/IconSelectDropdown.astro';
import LocaleSelectorLink from './LocaleSelectorLink.astro';
import IconLanguage from '@components/icons/IconLanguage.astro';
import IconSpanishFlag from '@components/icons/IconSpanishFlag.astro';
import IconEnglishFlag from '@components/icons/IconEnglishFlag.astro';

export interface Props {
	SPANISH: string;
	ENGLISH: string;
	id: string;
	dropdown_id: string;
}
const { currentLocale } = Astro;
const { SPANISH, ENGLISH, id, dropdown_id } = Astro.props;
const LANGUAGES_INFO = {
	en: {
		name: ENGLISH,
		flag: IconEnglishFlag,
		href: '/',
	},
	es: {
		name: SPANISH,
		flag: IconSpanishFlag,
		href: '/es',
	},
};
const LANGUAGES = [LANGUAGES_INFO['en'], LANGUAGES_INFO['es']];

const CURRENT_LANGUAGE = LANGUAGES_INFO[currentLocale].name;
---

<script>
	const selects = document.getElementsByClassName('select_locale');
	for (const select of selects) {
		if (select instanceof HTMLSelectElement) {
			select.addEventListener('change', () => {
				window.location.href = `/${select.value}`;
			});
		}
	}
</script>

<button
	id={id}
	data-dropdown-toggle={dropdown_id}
	class="inline-fle flex h-auto items-center gap-1 rounded-md bg-transparent px-1 text-center font-lato text-xs text-[var(--default-font-color2)] transition-all duration-200 ease-in-out hover:text-teal-300 focus:outline-none focus:ring-4 focus:ring-[--default-secundary-font-color-2] focus:drop-shadow-[0rem_0rem_0.3rem_aqua] max-sm:text-xl"
	type="button"
>
	<IconLanguage class="h-3.5 max-sm:h-5" />
	{CURRENT_LANGUAGE}
	<IconSelectDropdown class="ms-0.5 h-2.5 w-2.5 max-sm:h-4 max-sm:w-4" />
</button>

<div
	id={dropdown_id}
	class="z-10 hidden w-24 divide-y rounded-lg shadow max-sm:w-32"
>
	<ul
		class="rounded-md bg-[hsl(271.2,35.21%,15%,80%)] text-xs drop-shadow-[0rem_0rem_0.3rem_black] max-sm:text-xl"
		aria-labelledby={id}
	>
		{
			LANGUAGES.map((lang) => (
				<LocaleSelectorLink {...lang}>
					<lang.flag class="h-4" />
				</LocaleSelectorLink>
			))
		}
	</ul>
</div>
