---
import SectionContainer from './shared/SectionContainer.astro';
import Subtitle from './shared/Subtitle.astro';

export interface Props {
	HEADER_EXPERIENCE: string;
	EXPERIENCE: Experience[];
}

type Experience = {
	date: String;
	ocupation: String;
	description: String;
	logoFile: string;
};
const { HEADER_EXPERIENCE, EXPERIENCE } = Astro.props;
---

<SectionContainer id="experience">
	<header class="reveal my-6 mb-2 pt-2">
		<Subtitle left>{HEADER_EXPERIENCE}</Subtitle>
	</header>
	<ol
		class="reveal-experience relative mx-[1.33rem] mt-8 border-s border-teal-200"
	>
		{
			EXPERIENCE.map((job) => (
				<li class="mb-14 ms-5">
					<div class="flex flex-row items-center">
						<div class="absolute start-[-0.9rem] mb-1 h-7 w-7 overflow-hidden rounded-full border border-teal-200 bg-slate-300 shadow-lg shadow-teal-200">
							<img src={`/images/${job.logoFile}`} alt="" />
						</div>
						<time class="mb-1 text-sm font-normal leading-none text-[var(--default-font-color3)]">
							{job.date}
						</time>
					</div>
					<h3 class="reveal my-0.5 text-base font-semibold text-teal-200">
						{job.ocupation}
					</h3>
					<p class="reveal mb-2.5 text-sm font-normal text-[var(--default-font-color)]">
						{job.description}
					</p>
				</li>
			))
		}
	</ol>
</SectionContainer>
