---
import CustomParagraph from '@shared/CustomParagraph.astro';
import SectionContainer from './shared/SectionContainer.astro';

export interface Props {
	INTRO_TITLE: string;
	INTRO_TITLE_AFTER_BR1: string;
	INTRO_TITLE_AFTER_BR2: string;
	INTRO_SUBTITLE: string;
	INTRO_DESCRIPTION: string;
}
const {
	INTRO_TITLE,
	INTRO_TITLE_AFTER_BR1,
	INTRO_TITLE_AFTER_BR2,
	INTRO_SUBTITLE,
	INTRO_DESCRIPTION,
} = Astro.props;
---

<div
	class="bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.4),rgba(255,255,255,0))]"
>
	<SectionContainer
		id="home"
		class="flex h-screen flex-col justify-evenly pt-0 max-sm:h-[100dvh]"
	>
		<div class="p-2 font-lato text-[var(--default-font-color)]">
			<div class="reveal">
				<h1
					class="mx-0 my-3 animate-presentation-title text-4.75xl font-bold text-[var(--default-secundary-font-color)] max-sm:text-5xl"
				>
					{INTRO_TITLE}<br class="hidden max-sm:inline" />
					{INTRO_TITLE_AFTER_BR1}
					<br />
					{INTRO_TITLE_AFTER_BR2}
				</h1>
			</div>
			<div class="reveal">
				<h2
					class="mx-0 my-3 animate-presentation-main-skill text-4.5xl font-bold max-sm:mt-4"
				>
					{INTRO_SUBTITLE}
				</h2>
			</div>
			<div
				class="mx-0 my-3 animate-presentation-description break-words max-sm:mt-7"
			>
				<CustomParagraph set:html={INTRO_DESCRIPTION} />
			</div>
		</div>
	</SectionContainer>
</div>
