---
import Subtitle from '../shared/Subtitle.astro';
import CustomLink from '../shared/CustomLink.astro';
import CustomParagraph from '../shared/CustomParagraph.astro';
import IconContact from '../icons/IconContact.astro';
import IconMail from '../icons/IconMail.astro';
import IconGithub from '../icons/IconGithub.astro';
import IconLinkedin from '../icons/IconLinkedin.astro';
import IconTwitter from '../icons/IconTwitter.astro';
export interface Props {
	CONTACT_TITLE: string;
	CONTACT_DESCRIPTION: string;
	CONTACT_FOOTER_PUBLISHED: string;
	CONTACT_FOOTER_PUBLISHED_ARIAL_LABEL: string;
	CONTACT_FOOTER_AFTER_PUBLISHED: string;
	CONTACT_FOOTER_GITHUB_PAGE: string;
	CONTACT_FOOTER_GITHUB_PAGE_ARIAL_LABEL: string;
	CONTACT_MAIL_ARIAL_LABEL: string;
	CONTACT_GITHUB_ARIAL_LABEL: string;
	CONTACT_LINKEDIN_ARIAL_LABEL: string;
	CONTACT_TWITTER_ARIAL_LABEL: string;
}

const {
	CONTACT_TITLE,
	CONTACT_DESCRIPTION,
	CONTACT_FOOTER_PUBLISHED,
	CONTACT_FOOTER_PUBLISHED_ARIAL_LABEL,
	CONTACT_FOOTER_AFTER_PUBLISHED,
	CONTACT_FOOTER_GITHUB_PAGE,
	CONTACT_FOOTER_GITHUB_PAGE_ARIAL_LABEL,
	CONTACT_MAIL_ARIAL_LABEL,
	CONTACT_GITHUB_ARIAL_LABEL,
	CONTACT_LINKEDIN_ARIAL_LABEL,
	CONTACT_TWITTER_ARIAL_LABEL,
} = Astro.props;
const icons = [
	{
		href: 'mailto:rodriguezcuelloc@gmail.com',
		title: CONTACT_MAIL_ARIAL_LABEL,
		iconComponent: IconMail,
	},
	{
		href: 'https://github.com/carlosjorger',
		title: CONTACT_GITHUB_ARIAL_LABEL,
		iconComponent: IconGithub,
	},
	{
		href: 'https://www.linkedin.com/in/carlosjorger/',
		title: CONTACT_LINKEDIN_ARIAL_LABEL,
		iconComponent: IconLinkedin,
	},
	{
		href: 'https://twitter.com/carlosjorgerc',
		title: CONTACT_TWITTER_ARIAL_LABEL,
		iconComponent: IconTwitter,
	},
];
---

<footer>
	<div
		class="grid h-screen bg-[radial-gradient(ellipse_130%_100%_at__50%_-20%,rgba(255,255,255,0)_50%,var(--default-background-color-darker))] max-sm:h-[70dvh]"
	>
		<div id="contact" class="flex flex-col justify-center">
			<section class="z-0 mt-8 w-1/2 p-2 max-sm:mt-0 max-sm:w-[90%]">
				<Subtitle center>{CONTACT_TITLE}</Subtitle>
				<div class="reveal mx-0 my-4 text-center">
					<CustomParagraph>
						{CONTACT_DESCRIPTION}
					</CustomParagraph>
				</div>
				<address
					class="reveal mx-auto my-0 flex w-5/6 flex-row justify-evenly"
				>
					{
						icons.map((icon) => (
							<IconContact href={icon.href} title={icon.title}>
								<icon.iconComponent />
							</IconContact>
						))
					}
				</address>
			</section>
		</div>
		<div
			class="flex flex-col justify-center font-lato text-[var(--default-font-color)]"
		>
			<p class="last-reveal mx-auto my-0 mb-12 text-center text-3xl">
				<strong class="inline italic">© 2022 Carlos Jorge</strong>
				<br />
				<span>
					<CustomLink
						href="https://github.com/carlosjorger/carlosjorger.github.io"
						aria-label={CONTACT_FOOTER_PUBLISHED_ARIAL_LABEL}
					>
						{CONTACT_FOOTER_PUBLISHED}
					</CustomLink>
					{CONTACT_FOOTER_AFTER_PUBLISHED}
					<CustomLink
						href="https://pages.github.com/"
						aria-label={CONTACT_FOOTER_GITHUB_PAGE_ARIAL_LABEL}
					>
						{CONTACT_FOOTER_GITHUB_PAGE}
					</CustomLink>
					<span></span>
				</span>
			</p>
		</div>
	</div>
</footer>
