---
import IconContainer from '../icons/IconContainer.astro';

export interface Props {
	id?: string;
	height: string;
	width: string;
	href: string;
	title: string;
}
const { id = undefined, height, width, href, title } = Astro.props;
---

<a href={href} aria-label={title} class:list={[height, 'm-1']}>
	<IconContainer id={id} height={height} width={width}>
		<slot />
	</IconContainer>
</a>
