---
import CustomParagraph from '@shared/CustomParagraph.astro';
import IconLink from '@icons/IconLink.astro';
import IconGithub from '@icons/IconGithubLink.astro';
import IconLinkContainer from '@icons/IconLinkContainer.astro';
import type { TAG } from './Work.astro';

export interface Props {
	id: string;
	title: string;
	description: string;
	anchorLabel: string;
	githubLink: string;
	imageSrc: string;
	website?: string;
	tags: TAG[];
}

const {
	id,
	title,
	description,
	anchorLabel,
	githubLink,
	imageSrc,
	website,
	tags,
} = Astro.props;
---

<script>
	document.addEventListener('DOMContentLoaded', () => {
		var lazyBackgrounds = [].slice.call(
			document.querySelectorAll('.lazy-background')
		);
		if ('IntersectionObserver' in window) {
			let lazyBackgroundObserver = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add('visibleImg');
						lazyBackgroundObserver.unobserve(entry.target);
					}
				});
			});

			lazyBackgrounds.forEach((lazyBackground: HTMLElement) => {
				lazyBackgroundObserver.observe(lazyBackground);
			});
		}
	});
</script>
<article
	id={id}
	class:list={[imageSrc]}
	class="reveal lazy-background even-parent my-2 mb-10 flex w-11/12 flex-col self-start overflow-hidden rounded-2xl border-4 border-solid border-[var(--default-secundary-font-color-2)] bg-[#322644] bg-placeholder bg-cover bg-center bg-no-repeat font-lato shadow-lg shadow-black even:self-end even:text-right max-sm:mb-6 max-sm:mt-8 max-sm:w-full max-sm:self-center max-sm:even:self-center max-sm:even:text-left"
>
	<div
		class="h-64 bg-[#453662c5] p-1 backdrop-brightness-[0.4] backdrop-grayscale transition-all duration-300 ease-in-out hover:bg-teal-600/0 hover:backdrop-grayscale-0 max-lg:h-80 max-md:h-72 max-sm:h-64 [&>*:first-child]:hover:scale-110 max-sm:[&>*:first-child]:hover:scale-105"
	>
		<article
			class="even-child m-0 flex h-full w-5/6 flex-col items-start justify-end p-6 transition-[transform] duration-300 max-sm:w-full max-sm:justify-evenly max-sm:px-3 max-sm:py-5"
		>
			<header
				class="m-1 text-3xl font-extrabold text-teal-200 max-sm:text-[1.65rem]"
			>
				<h3 class="m-0 drop-shadow-[0_15px_20px_black]">
					{title}
				</h3>
			</header>
			<div
				class="m-1 pb-0 text-xs text-[#99F9F9] drop-shadow-[0_15px_20px_black]"
			>
				<CustomParagraph textColor="text-slate-50">
					{description}
				</CustomParagraph>
			</div>
			<ul class="flex flex-row gap-x-2">
				{
					tags.map((tag) => (
						<li>
							<span
								class="flex items-center gap-x-2 rounded-full border-2 p-1.5 px-2 text-sm drop-shadow-[0_15px_20px_black]"
								class:list={[tag.class]}
							>
								<tag.icon class="size-4" />
								<label>{tag.name}</label>
							</span>
						</li>
					))
				}
			</ul>
			<div class="even-self-child mt-3 flex flex-row self-start">
				<IconLinkContainer
					class="h-7 w-7"
					href={githubLink}
					title={anchorLabel}
				>
					<IconGithub />
				</IconLinkContainer>

				{
					website !== undefined && (
						<IconLinkContainer
							class="h-7 w-7"
							href={website}
							title={anchorLabel}
						>
							<IconLink />
						</IconLinkContainer>
					)
				}
			</div>
		</article>
	</div>
</article>
<style>
	.even-parent:nth-child(even) .even-child {
		align-items: flex-end !important;
		margin-left: auto;
	}

	.even-parent:nth-child(even) .even-self-child {
		align-self: flex-end !important;
	}

	@media (width <= 640px) {
		.even-parent:nth-child(even) .even-child {
			align-items: flex-start !important;
			margin-left: auto;
		}
		.even-parent:nth-child(even) .even-self-child {
			align-self: flex-start !important;
		}
	}
</style>
