---
export interface Props {
  id: string;
  title: string;
  description: string;
  anchorLabel: string;
  githubLink: string;
}
const { id, title, description, anchorLabel, githubLink } = Astro.props;
---

<article
  id={id}
  class="font-lato p-1 m-4 lg:w-[60%] md:w-[65%] sm:w-[70%] flex flex-col bg-[#322644] rounded border-solid border-[0.1rem] border-[var(--default-secundary-font-color)] reveal"
>
  <header class="card-title">
    <h3>{title}</h3>
  </header>
  <div class="card-description">
    <p>{description}</p>
  </div>
  <div class="card-links">
    <a href={githubLink} aria-label={anchorLabel}
      ><i class="svg-icon svg-icon-s icon-github"></i></a
    >
  </div>
</article>
