---
import CustomParagraph from '@shared/CustomParagraph.astro';
import IconLink from '@icons/IconLink.astro';
import IconGithub from '@icons/IconGithubLink.astro';
import IconLinkContainer from '@icons/IconLinkContainer.astro';
import type { TAG } from './Work.astro';

export interface Props {
	id: string;
	title: string;
	description: string;
	anchorLabel: string;
	githubLink: string;
	imageSrc: string;
	website?: string;
	tags: TAG[];
	class?: string;
	tagsClass?: string;
}

const {
	id,
	title,
	description,
	anchorLabel,
	githubLink,
	imageSrc,
	website,
	tags,
} = Astro.props;
---

<script>
	document.addEventListener('astro:page-load', () => {
		var lazyBackgrounds = [].slice.call(
			document.querySelectorAll('.lazy-background')
		);
		if ('IntersectionObserver' in window) {
			let lazyBackgroundObserver = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add('visibleImg');
						lazyBackgroundObserver.unobserve(entry.target);
					}
				});
			});

			lazyBackgrounds.forEach((lazyBackground: HTMLElement) => {
				lazyBackgroundObserver.observe(lazyBackground);
			});
		}
	});
</script>
<article
	id={id}
	class:list={[Astro.props.class]}
	class="reveal overflow-hidden rounded-2xl border-4 border-solid border-[var(--default-secundary-font-color-2)] bg-[#322644] font-lato shadow-lg shadow-black max-sm:self-center"
>
	<div
		class:list={[imageSrc]}
		class="lazy-background group aspect-auto w-full overflow-hidden bg-placeholder bg-105% bg-center bg-no-repeat font-lato shadow-lg shadow-black transition-[background-size] duration-300 ease-in-out hover:bg-100% max-sm:self-center"
	>
		<div
			class="h-full bg-[#453662c5] p-1 backdrop-brightness-[0.4] backdrop-grayscale transition-all duration-300 ease-in-out hover:bg-teal-600/0 hover:backdrop-grayscale-0"
		>
			<article
				class="m-0 flex min-h-72 w-11/12 flex-col items-start justify-between p-5 transition-[transform] duration-300 group-hover:scale-105 max-sm:w-full max-sm:justify-evenly max-sm:p-4 max-sm:group-hover:scale-105"
			>
				<header
					class="m-1 text-xl font-bold text-teal-200 max-sm:text-[1.65rem]"
				>
					<h3 class="m-0 text-3xl drop-shadow-[0_15px_20px_black]">
						{title}
					</h3>
				</header>
				<CustomParagraph
					textColor="text-slate-50"
					set:html={description}
					class="m-1 pb-0 text-xl text-[#99F9F9] drop-shadow-[0_15px_20px_black]"
				/>
				<div
					class:list={Astro.props.tagsClass}
					class="flex w-full justify-between gap-2"
				>
					<ul
						class="flex flex-row gap-3 max-sm:grid max-sm:grid-cols-6 max-sm:gap-2"
					>
						{
							tags.map((tag) => (
								<li
									class="flex items-center gap-x-2 rounded-full border-2 px-2 py-1 text-base drop-shadow-[0_15px_20px_black] max-sm:col-span-2"
									class:list={[tag.class]}
								>
									<tag.icon class="size-4" />
									<label>{tag.name}</label>
								</li>
							))
						}
					</ul>
					<div class="flex flex-row self-start">
						<IconLinkContainer
							class="h-7 w-7"
							href={githubLink}
							title={anchorLabel}
						>
							<IconGithub />
						</IconLinkContainer>

						{
							website !== undefined && (
								<IconLinkContainer
									class="h-7 w-7"
									href={website}
									title={anchorLabel}
								>
									<IconLink />
								</IconLinkContainer>
							)
						}
					</div>
				</div>
			</article>
		</div>
	</div>
</article>
