---
import CustomParagraph from '../shared/CustomParagraph.astro';
import IconContainer from '../icons/IconContainer.astro';
import IconLink from '../icons/IconLink.astro';
import IconGithub from '../icons/IconGithubLink.astro';
export interface Props {
	id: string;
	title: string;
	description: string;
	anchorLabel: string;
	githubLink: string;
	imageSrc: string;
	website?: string;
}
const { id, title, description, anchorLabel, githubLink, imageSrc, website } =
	Astro.props;
---

<script>
	document.addEventListener('DOMContentLoaded', () => {
		var lazyBackgrounds = [].slice.call(
			document.querySelectorAll('.lazy-background')
		);
		if ('IntersectionObserver' in window) {
			let lazyBackgroundObserver = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add('visibleImg');
						lazyBackgroundObserver.unobserve(entry.target);
					}
				});
			});

			lazyBackgrounds.forEach((lazyBackground: HTMLElement) => {
				lazyBackgroundObserver.observe(lazyBackground);
			});
		}
	});
</script>
<article
	id={id}
	class:list={[imageSrc]}
	class="reveal lazy-background even-parent my-2 mb-10 flex w-11/12 flex-col self-start overflow-hidden rounded-2xl border-4 border-solid border-[var(--default-secundary-font-color)] bg-[#322644] bg-placeholder bg-cover bg-center bg-no-repeat font-lato shadow-lg shadow-black even:self-end even:text-right max-sm:mb-6 max-sm:mt-8 max-sm:w-full max-sm:self-center max-sm:even:self-center max-sm:even:text-left"
>
	<div
		class="h-60 bg-[#5c497fc5] p-1 backdrop-brightness-[0.2] backdrop-grayscale transition-all duration-300 ease-in-out hover:bg-teal-600/0 hover:backdrop-grayscale-0 max-lg:h-80 max-md:h-64 max-sm:h-52 [&>*:first-child]:hover:scale-110 max-sm:[&>*:first-child]:hover:scale-105"
	>
		<article
			class="even-child m-0 flex h-full w-5/6 flex-col items-start justify-end p-6 transition-[transform] duration-300 max-sm:w-full max-sm:justify-between max-sm:px-2 max-sm:py-3"
		>
			<header
				class="m-1 text-3xl font-extrabold text-teal-200 max-sm:text-[1.65rem]"
			>
				<h3 class="m-0">{title}</h3>
			</header>
			<div class="m-1 pb-0 text-xs text-[#99F9F9]">
				<CustomParagraph textColor="text-slate-50">
					{description}
				</CustomParagraph>
			</div>
			<div class="even-self-child m-1 flex flex-row self-start">
				<a href={githubLink} aria-label={anchorLabel} class="h-8">
					<IconContainer height="h-auto" width="w-7">
						<IconGithub />
					</IconContainer>
				</a>
				{
					website !== undefined && (
						<a href={website} aria-label={anchorLabel} class="h-7">
							<IconContainer height="h-auto" width="w-7">
								<IconLink />
							</IconContainer>
						</a>
					)
				}
			</div>
		</article>
	</div>
</article>
<style>
	.even-parent:nth-child(even) .even-child {
		align-items: flex-end !important;
		margin-left: auto;
	}

	.even-parent:nth-child(even) .even-self-child {
		align-self: flex-end !important;
	}

	@media (width <= 640px) {
		.even-parent:nth-child(even) .even-child {
			align-items: flex-start !important;
			margin-left: auto;
		}
		.even-parent:nth-child(even) .even-self-child {
			align-self: flex-start !important;
		}
	}
</style>
