---
import IconElement from "../shared/IconElement.astro";
export interface Props {
  id: string;
  title: string;
  description: string;
  anchorLabel: string;
  githubLink: string;
}
const { id, title, description, anchorLabel, githubLink } = Astro.props;
---

<article
  id={id}
  class="self-start font-lato p-1 m-2 md:w-[65%] sm:w-[70%] flex flex-col bg-[#322644] rounded border-solid border-[0.1rem] border-[var(--default-secundary-font-color)] shadow-lg shadow-black reveal"
>
  <header class="text-[var(--default-font-color)] p-2">
    <h3 class="m-0">{title}</h3>
  </header>
  <div class="p-2 text-[#99F9F9] text-xs">
    <p class="m-0">{description}</p>
  </div>
  <div class="flex p-1 self-end">
    <a href={githubLink} aria-label={anchorLabel}
      ><IconElement height="h-6" width="w-6" iconType="github" /></a
    >
  </div>
</article>
